@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">¡Gracias!</h1>
    <p>Gracias por rellenar el formulario, puedes rellenar otro igual <a asp-action="Index">aquí</a>.</p>
</div>