@model IEnumerable<DAW2P0.Business.Formulario>

@{
    ViewData["Title"] = "Formularios";
}

<h1>Formularios</h1>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Primer Apellido
            </th>
            <th>
                Segundo Apellido
            </th>
            <th>
                Opinión
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
    @*<tbody> //posible creación de la tabla autogenerada por razor, pero prefiero hacer uso de datatables para mejor manejo a posterior.
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opinion)
            </td>
        </tr>
}
    </tbody>*@
</table>
@section Scripts{ 
    <script src="~/js/Formularios.js"></script>
}